.flex-registros {
    gap: 30px;
}

.text-registros {
    text-align: center;
    width: 350px;
}

#modal-registrar {
    display: block;
    margin: 20px auto;
}

.escolha {
    gap: 10px;
}

.modal-form {
    background-color: var(--primary-blue);
    color: white;
}

.form-despesa-input {
    background-color: #00a87860;
    color: white;
    border: none;
    border-radius: 8px;
    padding-block: 10px;
    font-size: 1.1em;
}

.form-despesa-input-desp {
    background-color: #de67715d;
    color: white;
    border: none;
    border-radius: 8px;
    padding-block: 10px;
    font-size: 1.1em;
}

.form-despesa-input-desp:focus {
    background-color: #de67715d;
    color: white;
}

.form-despesa-input:focus {
    background-color: #00a87860;
    color: white;
}

.form-text-input {
    background-color: var(--primary-green);
    color: white;
    font-weight: 500;
    border: none;
}

.form-text-input-despesa {
    background-color: var(--secondary-red);
    color: white;
    font-weight: 500;
    border: none;
}

select option {
    background-color:  var(--primary-green)!important;
    color: white!important;
}

.modal-form {
    border-radius: 15px;
}

.form-check-input {
    background-color: #00a87860;
    border: none;
}

.sucesso-registro {
    color: var(--primary-green);
    font-weight: 600;
}

.sucesso-meta {
    color: var(--primary-green);
    font-weight: 600;
}

.sucesso-entrada {
    color: var(--primary-green);
    font-weight: 600;
}

.title {
    padding-bottom: 20px;
}

.negado-entrada {
    color: var(--primary-red);
    font-weight: 600;
}

table {
    font-size: 14px;
}

.lembrete {
    width: 50px;
}

th {
    font-weight: 500;
}

table {
    border: 1px solid;
}

.table-responsive label, #main-table_info {
    font-size: 14px;
}

.btn-despesa {
    background-color: var(--secondary-red);
}

.page-link {
    background-color: var(--primary-green);
    color: white;
    border: none;
}

.pagination {
    --bs-pagination-active-bg: var(--primary-blue);
    --bs-pagination-active-border-color: var(--primary-blue);
    --bs-pagination-focus-color: var(--primary-blue);
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th
{
   background-color: var(--primary-green); /*#29c2926f*/
   color: white;
   border: none;
}

 .table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
    background-color: #102636de;
    color: white;
    border: none;
}


 