:root {
    --primary-blue: #102636;
    --primary-green: #29C292;
    --primary-yellow: #FFB400;
    --primary-red: #E63946;
    --secondary-red: #DE6771;
    --secondary-green: #00a8783a;
}

body {
    font-family: "Poppins", sans-serif;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#footer {
    background-color: var(--primary-blue);
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    padding: 12px;
    font-size: 10px;
}

@media only screen and (max-width: 1000px) {
    #footer {font-size: 12px;}
}